<html>

<head>
    <title>
        <%= title%>
    </title>
    <%- style %>
</head>
<!-- <style sc></style> -->
<link rel="stylesheet" href="/css/layout.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
<!-- <link rel="stylesheet" href=""> -->

<body>
    <%- include('_header'); %>

    <!-- <% if(flash.success && flash.success.length >0){ %>
        <h5>
            <% flash.success %>
        </h5>
    <% } %> -->


    <%- body %>
    
    <%- include('_footer'); %>
</body>

<%- script %>
<script>
    <% if(flash.success && flash.success.length >0){ %>
        new Noty({
            theme: 'relax',
            text: "<%= flash.success %>",
            type: 'success',
            layout: 'topRight',
            timeout: 1500
        }).show();
        // <h5>
        //     <% flash.success %>
        // </h5>
    <% } %>
    <% if(flash.error && flash.error.length >0){ %>
        new Noty({
            theme: 'relax',
            text: "<%= flash.success %>",
            type: 'error',
            layout: 'topRight',
            timeout: 1500
        }).show();
        // <h5>
        //     <% flash.success %>
        // </h5>
    <% } %>
</script>
</html>