
<link rel="stylesheet" href="/css/user_profile.css">
 
    <h1>Helo this is user file</h1>
    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

<% if(user.id==profile_user.id){ %>

    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Your name" id="" value="<%= profile_user.name %>" required>
        <input type="email" name="emai" placeholder="Your Email" id="" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar" class="form-control-file" name="profile_photo _uload">
        <input type="submit" value="Update">
    </form>

    <%} else{ %>
        <p>Name: <%= profile_user.name %></p>
        <p>Email: <%= profile_user.email %></p>

    <% } %>